@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?own601');
    src:  url('../fonts/icomoon.eot?own601#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?own601') format('truetype'),
      url('../fonts/icomoon.woff?own601') format('woff'),
      url('../fonts/icomoon.svg?own601#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-map-marker:before {
    content: "\e900";
  }
  .icon-phone:before {
    content: "\e901";
  }
  .icon-contact:before {
    content: "\e901";
  }
  .icon-mail:before {
    content: "\e902";
  }
  .icon-email:before {
    content: "\e902";
  }
  .icon-letter:before {
    content: "\e902";
  }
  .icon-envelope:before {
    content: "\e902";
  }
  .icon-contact1:before {
    content: "\e902";
  }
  