@import '_vars';
@import '_global';


//start header



.header__top {
    background-color: #eef1f3;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}


.header__logo {
    max-height: 70px;
}


.header__text {
    text-align: center;

    margin-left: auto;
    display: inline-block;
    width: 140px;
    border-radius: 14px;
    line-height: 28px;
    color: white;
    font-size: 12px;
    background-color: #0674ec;
}

.header__options {
    margin-left: 50px;
    margin-right: 45px;
    display: flex;
    justify-content: space-between;

    a {
        position: relative;
        margin-left: 33px;


    }

    div {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        top: -50%;
        left: 60%;

        color: black;

        font-size: 12px;
    }

    .alarm {
        background-color: #ff6a6d;
    }

    .envelope {
        background-color: #62d03b;
    }

    .cart {
        background-color: #0674ec;
    }
}




.header__nikname {
    left: 0;
    align-items: center;
    display: flex;

    &-name {
        font-size: 16px;

    }

    &-photo {}

    &-info {
        align-items: center;
        line-height: 22px;
        margin-left: 22px;

    }

    &-balance {
        color: #0674ec;
        font-size: 15px;
    }

}


.menu {
    display: flex;
    align-items: center;
    height: 80px;

    &__list {
        li {
            display: inline-block;

            a {
                text-transform: uppercase;
                font-size: 14px;
                line-height: 42;
                color: black;
                font-weight: regular;
            }

            &+li {
                padding-left: 26px;
            }
        }
    }

}

.header__menu-inner {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__search-form {
    max-width: 360px;
    width: 100%;
    position: relative;
    outline: none;

    input {
        display: block;
        height: 44px;
        width: 100%;
        border: none;
        border-style: solid;
        border-color: #d9dfe5;
        font-size: 14px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 25px;
        outline: none;

        &::placeholder {
            color: #898f96;
            font-weight: 500;
            outline: none;


        }
    }

    button {
        position: absolute;
        background-color: #0674ec;
        text-align: center;
        right: 50px;
        height: 44px;
        width: 20%;
        border-radius: 25px;
        right: 0;
        border: none;
        top: -0px;

    }


}

.marketplace {
    font-family: 'Quicksand', sans-serif;
    background-color: $blue;
    display: flex;
    text-align: center;
    color: white;
    padding-top: 179px;
    height: 727px;
    position: relative;
    margin-bottom: 185px;



    &__inner {
        margin-bottom: 100px;


        &-title {
            font-weight: normal;
            font-size: 60px;
            line-height: 70px;

            & div+div {
                font-weight: bold;
            }
        }

        &-description {
            font-size: 20px;
            line-height: 72px;
            margin-bottom: 35px;

        }


        &-buttons {
            line-height: 0;
            display: flex;
            max-width: 410px;
            justify-content: space-between;
            margin: 0 auto;
            margin-bottom: 130px;

            a {
                border: none;
                border-radius: 25px;
                box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
                padding: 21px 35px;
            }

            &-text {
                font-size: 16px;
                text-align: center;
                vertical-align: center;
                color: black;
            }
        }


        &-title {
            font-weight: normal;
            font-size: 60px;

            & div+div {
                font-weight: bold;
            }
        }

        &-description {
            font-size: 20px;
            line-height: 72px;
            margin-bottom: 35px;

        }

        &-buttons {
            line-height: 0;
            display: flex;
            max-width: 410px;
            justify-content: space-between;
            margin: 0 auto;
            margin-bottom: 130px;

            a {
                border: solid white 1px;
                border-radius: 25px;
                box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
                padding: 21px 35px;
            }

            &-text {
                font-size: 16px;
                text-align: center;
                vertical-align: center;
                color: white;
            }

            a:hover {
                background-color: #fff;
                border: none;
            }


            &-text:hover {
                border: solid white 1px;
                color: $blue;
            }

        }


        &-form-search {
            position: absolute;
            width: 1140px;
            height: 135px;
            background-color: rgb(255, 255, 255);
            display: flex;
            border-radius: 5px;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
            transform: translate(-50%, 50%);
            left: 50%;

        }



        &-search {

            width: 808px;
            height: 55px;
            margin: 40px;
            border-radius: 5px;
            border: solid #676767 1px;
            font-size: 16px;
            color: #676767;
            display: flex;
            align-items: center;
            justify-content: space-between;



            input {
                padding-left: 30px;
                border: none;


            }


            &-dropbtn {
                background-color: #fff;
            }

            &-dropdown {
                cursor: pointer;
                display: inline-block;
                padding-right: 70px;
            }

            &-content {
                display: none;
                position: absolute;
                background-color: #fff;
                min-width: 150px;
                border-radius: 5px;



                a {
                    color: #676767;
                    padding: 5px 5px;
                    text-decoration: none;
                    display: block;
                    background-color: #fff;
                    line-height: 35px;
                    width: 170px;
                    text-align: left;
                    border-radius: 5px;



                }

                a:hover {
                    color: $blue;
                    font-weight: bold;



                }
            }


            &-dropdown:hover &-content {
                display: block;
            }

            &-button {
                height: 55px;
                width: 253px;
                margin: 40px 40px 40px 30px;
                font-size: 16px;
                background-color: $blue;
                color: white;
                line-height: 0;
                border-radius: 5px;
                border: none;
                cursor: pointer;
            }
        }
    }
}


.features {


    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 120px;


        &-box {
            padding: 40px 35px;
            max-width: 360px;
            text-align: center;

            p {
                margin: 0;
                padding: 0;
                font-size: 16px;
                line-height: 30 px;
            }

            div {
                color: #010101;
                margin-top: 38px;
                margin-bottom: 30px;
                font-size: 24px;
                line-height: 30 px;
            }
        }

        &-box:hover {
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);

        }



    }
}


.slider {
    background-color: #eff1f5;

    &__inner {
        padding-top: 120px;

        &-display {

            background-color: #fff;
        }

        &-navigator {
            height: 110px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 50px;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);


        }

        &-text {
            font-size: 30px;
            padding-left: 30px;
        }

        &-arrows {

            background-color: #7347c1;
            margin-right: 30px;
            border-radius: 25px;
            width: 110px;
            height: 45px;
            align-items: center;
        }

        &-item {
            display: flex;
            justify-content: space-between;
        }

        &-image {
            position: relative;
            background-size: cover;
            background-position: center 0;

        }


        &-img-info {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            max-width: 275px;


            a {
                border: none;
                border-radius: 25px;
                box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
                padding: 20px 25px;
                text-decoration: none;
                line-height: 0;
                border: 1px solid white;
                color: white;
                font-size: 14px;
                text-align: center;
                font-weight: 600;
            }

            a:hover {
                background-color: white;
                color: $blue;
            }
        }

        &-info {
            padding: 50px 60px 25px 50px;
        }

        &-title {
            font-size: 24px;
            font-weight: 400;
        }

        &-box {
            display: flex;

            &-ref {
                display: flex;
                align-items: center;
                margin-top: 20px;
                margin-bottom: 25px;

            }

            p {
                margin: 0;
                line-height: 30px;
                font-size: 15px;
            }
        }

        &-name {

            margin-left: 10px;
            margin-right: 25px;

        }

        &-icon2 {
            max-height: 16px;

        }

        &-option {
            margin-top: 40px;
            padding-bottom: 45px;
            border-bottom: 1px #f1f3f6 solid;
            margin-bottom: 22px;


            a {
                background-color: #f1f3f6;
                text-decoration: none;
                color: #868c96;
                border-radius: 25px;
                padding: 8px 20px;
                margin-right: 5px;
            }
        }

        &-buttom {
            font-size: 15px;
            align-items: center;

            a {
                margin-right: 20px;
            }
        }

        &-price {
            background-color: #0674ec;
            padding: 10px 20px;
            border-radius: 25px;
        }

        &-liked {}

        &-icons {
            position: relative;

        }

        &-icon {
            position: absolute;
            bottom: 5px;
        }

        &-bought {}





    }
}